/* ---------- font start ---------- */
@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Ultra\ Light.woff2")
    format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Thin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Bold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Heavy.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Black.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  src: url("./helvetica-neue/Helvetica\ Neue\ Italic.woff2") format("woff2");
  font-style: italic;
  font-display: swap;
}

/* Regular */
@font-face {
  font-family: "Didot LT Std";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Roman.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Didot LT Std";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Didot LT Std";
  src: url("./fonts/DidotLTStd-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Headline */
@font-face {
  font-family: "Didot LT Std Headline";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Headline.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html {
  overflow-x: hidden;
}

html > body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 1920px;
  width: 100%;
}

/* ---------- font end ---------- */

/* 공통 속성 */
* {
  box-sizing: border-box;
  text-transform: uppercase;
}

svg {
  display: block;
}

section {
  max-width: 1920px;
  width: 100vw;
  padding: 0 40px;
}

@media (max-width: 1024px) {
  section {
    padding: 0 24px;
  }
}

@media (max-width: 420px) {
  section {
    padding: 0 16px;
  }
}

.con {
  width: 100%;
  margin: 0 auto;
  padding: 150px 0;
}

@media (max-width: 1024px) {
  .con {
    padding: 100px 0;
  }
}

@media (max-width: 420px) {
  .con {
    padding: 50px 0;
  }
}

img {
  display: block;
  width: 100%;
}

.con .img-box {
  overflow: hidden;
}

.con .img-box img {
  transition: all 0.5s ease;
}

.con .img-box:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.title-box > .title {
  font-family: "Didot LT Std Headline", serif;
  font-size: 100px;
}

@media (max-width: 1024px) {
  .title-box > .title {
    font-size: 50px;
  }
}

@media (max-width: 420px) {
  .title-box > .title {
    font-size: 32px;
  }
}

.title-box > .sub {
  font-size: 16px;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .title-box > .sub {
    font-size: 14px;
    opacity: 0.3;
  }
}

@media (max-width: 420px) {
  .title-box > .sub {
    font-size: 12px;
    opacity: 0.3;
  }
}

/* article-desc-box */
.con .img-box::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #1a1a1a;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.con .img-box:hover::after {
  visibility: visible;
  opacity: 0.5;
  transition: all 0.3s ease;
}

.article-desc-box {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1px;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease;
}

.article-desc-box .subject {
  font-size: 14px;
  font-weight: 600;
}

.article-desc-box .article-name {
  font-size: 16px;
  font-weight: 400;
}

.article-desc-box .article-info {
  font-size: 12px;
  font-weight: 400;
  color: #cccccc;
  display: flex;
  gap: 8px;
}

.con .img-box:hover .article-desc-box {
  visibility: visible;
  opacity: 1;
  gap: 5px;
}
/* ---------- custom start ---------- */

/* ---------- header start ---------- */
header {
  max-width: 1920px;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 400;
  background-color: transparent;
  visibility: visible;
  opacity: 1;
  z-index: 9999;
  padding: 0 40px;
  background-color: #fff;
  color: #1a1a1a;
}

header a:hover {
  color: #b3b3b3;
  transition: all 0.2s ease;
}

header .con {
  padding: 0;
  display: flex;
  height: 100%;
}

header .menu-box {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

header .flex-grow-1 {
  flex-grow: 1;
}

header .side-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .side-nav .side-menu-box:hover path {
  stroke: #b3b3b3;
  transition: all 0.2s ease;
}

/* h-mb */

.h-mb {
  opacity: 0;
  visibility: hidden;
  max-width: 420px;
  width: 100%;
}

.h-mb .bottom {
  padding-left: 16px;
  font-size: 12px;
  font-weight: 400;
}

.h-mb .bottom .mb-menu-box {
  display: flex;
  gap: 30px;
}

.h-mb .bottom .mb-menu-box a {
  display: block;
  padding: 10px 0;
}

@media (max-width: 1024px) {
  header {
    padding: 0 24px;
  }
}

@media (max-width: 420px) {
  .h-pc {
    opacity: 0;
    visibility: hidden;
  }

  .h-mb {
    height: fit-content;
    opacity: 1;
    visibility: visible;
  }

  .h-mb .top {
    display: flex;
    justify-content: space-between;
    padding: 14px 16px;
    background-color: #fff;
  }

  .h-mb .bottom {
    background-color: #fff;
  }

  header {
    padding: 0;
  }
}

/* ---------- header end ---------- */

/* ---------- banner start ---------- */

.banner {
  margin-top: 70px;
  color: #fff;
  padding: 0;
}

.banner svg {
  width: 100%;
}

.banner .text-box {
  position: absolute;
  z-index: 1;
}

.banner .text-box-1 {
  top: 955px;
  left: 30px;
}

.banner .text-box-2 {
  top: 1205px;
  left: 50px;
}

.banner .heads-up {
  top: 1350px;
  left: 0px;
}

.banner .text-box-3 {
  left: auto;
  right: 200px;
  top: 2005px;
  transform: scale(2);
}

.banner .text-box-4 {
  left: auto;
  right: 500px;
  top: 1400px;
  transform: scale(3.5);
}

.banner .text-box-5 {
  top: 1734px;
  left: auto;
  right: 100px;
  transform: scale(1.4);
}

@media (max-width: 1024px) {
  .banner .text-box {
    transform: scale(0.6);
  }

  .banner .text-box-1 {
    top: 564px;
    left: -40px;
  }

  .banner .text-box-2 {
    top: 740px;
    left: -30px;
  }

  .banner .heads-up {
    top: 850px;
    left: -60px;
  }

  .banner .text-box-3 {
    left: auto;
    right: 55px;
    top: 1005px;
    transform: scale(1.2);
  }

  .banner .text-box-4 {
    left: auto;
    right: 180px;
    top: 670px;
    transform: scale(1.8);
  }

  .banner .text-box-5 {
    top: 904px;
    left: auto;
    right: -20px;
    transform: scale(0.7);
  }
}

@media (max-width: 420px) {
  .banner .text-box {
    transform: scale(0.3);
  }

  .banner .text-box-1 {
    top: 150px;
    left: -95px;
  }

  .banner .text-box-2 {
    top: 250px;
    left: -90px;
  }

  .banner .heads-up {
    top: 335px;
    left: -105px;
  }

  .banner .text-box-3 {
    left: auto;
    right: -60px;
    top: 360px;
    transform: scale(0.5);
  }

  .banner .text-box-4 {
    left: auto;
    right: -13px;
    top: 150px;
    transform: scale(0.7);
  }

  .banner .text-box-5 {
    top: 316px;
    left: auto;
    right: -90px;
    transform: scale(0.3);
  }
}
/* ---------- banner end ---------- */

/* ---------- fashion-trends start ---------- */
.fashion-trends-box .title-box {
  margin-bottom: 150px;
}

.fashion-trends-box .main-box {
  display: flex;
  gap: 10px;
}

.fashion-trends-box .main-box .left,
.fashion-trends-box .main-box .right {
  width: 50%;
}

.fashion-trends-box .main-box .desc-box {
  padding-right: 144px;
  height: 547px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #4d4d4d;
}

.fashion-trends-box .main-box .desc-box > .desc {
  width: 308px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: justify;
}

.fashion-trends-box .main-box .year-box {
  height: 72px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.fashion-trends-box .main-box .year-box > .year {
  font-size: 16px;
  font-weight: 400;
}

.fashion-trends-box .main-box .right {
  height: fit-content;
}
@media (max-width: 1024px) {
  .fashion-trends-box .main-box {
    flex-direction: column-reverse;
  }

  .fashion-trends-box .main-box .right,
  .fashion-trends-box .main-box .left {
    width: 100%;
  }

  .fashion-trends-box .main-box .desc-box {
    justify-content: flex-start;
    height: fit-content;
    padding: 50px 0 80px 0;
  }

  .fashion-trends-box .main-box .desc-box > .desc {
    width: 360px;
  }
}

@media (max-width: 420px) {
  .fashion-trends-box .title-box {
    margin-bottom: 50px;
  }

  .fashion-trends-box .main-box .desc-box > .desc {
    font-size: 12px;
    width: 289px;
  }

  .fashion-trends-box .main-box .year-box > .year {
    font-size: 10px;
  }
}
/* ---------- fashion-trends end ---------- */

/* ---------- today-item start ---------- */
.today-item-box .con {
  padding: 200px 0 100px 0;
}

.today-item-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.today-item-box .title-box .sub {
  margin-bottom: 20px;
}

.today-item-box .main-box {
  display: flex;
  gap: 10px;
  height: 618px;
  overflow: hidden;
}

.today-item-box .main-box .left {
  width: 610px;
}

.today-item-box .main-box .right {
  flex: 1;
}
@media (max-width: 1024px) {
  .today-item-box .con {
    padding: 100px 0;
  }

  .today-item-box .main-box {
    flex-direction: column;
    height: fit-content;
  }

  .today-item-box .main-box .left {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .today-item-box .con {
    padding: 50px 0;
  }
}
/* ---------- today-item end ---------- */

/* ---------- marquee start ---------- */
.marquee-box {
  height: 500px;
  background-color: #000;
  color: #fff;
  padding-top: 80px;
}

.marquee-box .marquee-text {
  font-size: 350px;
  font-family: "Didot LT Std";
  font-weight: bold;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .marquee-box {
    height: 300px;
  }

  .marquee-box .marquee-text {
    font-size: 150px;
  }
}

@media (max-width: 420px) {
  .marquee-box {
    height: 200px;
  }

  .marquee-box .marquee-text {
    font-size: 100px;
  }
}
/* ---------- marquee end ---------- */

/* ---------- fashion-img start ---------- */
.fashion-img-box {
  background-color: #000;
}

.fashion-img-box .con {
  padding: 0;
}

@media (max-width: 420px) {
  .fashion-img-box {
    display: none;
  }
}
/* ---------- fashion-img end ---------- */

/* ---------- fashion-slides start ---------- */
.fashion-slides-box {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.fashion-slides-box .con {
  max-width: none;
}

.fashion-slides-box .title-box {
  margin-bottom: 100px;
  text-align: center;
}
.fashion-slides-box .title-box .title {
  font-size: 24px;
  font-family: "Pretendard Variable";
}

.fashion-slides-box .swiper {
  width: 916px;
  height: fit-content;
  overflow: visible;
}

.fashion-slides-box .swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.fashion-slides-box .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 916 / 570;
  object-fit: cover;
}

.fashion-slides-box .swiper-slide-prev,
.fashion-slides-box .swiper-slide-next {
  transform: scale(0.9);
  opacity: 0.4;
}

.fashion-slides-box .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}

.fashion-slides-box .swiper-button-next,
.fashion-slides-box .swiper-button-prev {
  color: #dfdfdf;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
}
.fashion-slides-box .swiper-button-next::after,
.fashion-slides-box .swiper-button-prev::after {
  font-size: 24px;
}

.fashion-slides-box .swiper-button-next {
  right: -13%;
}
.fashion-slides-box .swiper-button-prev {
  left: -13%;
}

.fashion-slides-box .swiper span {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.6;
}

@media (max-width: 1024px) {
  .fashion-slides-box .swiper {
    width: 648px;
  }

  .fashion-slides-box .title-box .title {
    font-size: 20px;
  }

  .fashion-slides-box .swiper span {
    font-size: 13px;
  }
}

@media (max-width: 420px) {
  .fashion-slides-box .swiper {
    width: 388px;
    margin-bottom: 30px;
  }

  .fashion-slides-box .title-box {
    display: none;
  }

  .fashion-slides-box .swiper span {
    font-size: 13px;
  }
}
/* ---------- fashion-slides end ---------- */

/* ---------- beauty start ---------- */
.beauty-box .title-box {
  margin-bottom: 100px;
}

.beauty-box .main-box {
  display: flex;
  gap: 10px;
}

.beauty-box .main-box .left,
.beauty-box .main-box .right {
  width: 50%;
}

.beauty-box .main-box .left .img-box-wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-bottom: 50px;
}

.beauty-box .main-box .left .img-box {
  width: 400px;
}

.beauty-box .main-box .left .desc-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 154px;
}

.beauty-box .main-box .left .desc {
  width: 283px;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-align: justify;
}

.beauty-box .main-box .right .img-box {
  height: 100%;
}

.beauty-box .main-box .right .img-box img {
  height: 100%;
  object-fit: cover;
  object-position: left top;
}

@media (max-width: 1024px) {
  .beauty-box .main-box .left .img-box-wrap {
    margin-bottom: 100px;
  }

  .beauty-box .main-box .left .desc-box {
    padding: 0;
  }

  .beauty-box .main-box .left .img-box {
    width: 236px;
  }

  .beauty-box .main-box .right .img-box {
    height: 350px;
  }
}

@media (max-width: 420px) {
  .beauty-box .title-box {
    margin-bottom: 30px;
  }

  .beauty-box .main-box .left {
    display: none;
  }

  .beauty-box .main-box .right {
    width: 100%;
  }
}
/* ---------- beauty end ---------- */

/* ---------- interview start ---------- */
.interview-box .con {
  padding: 100px 0 150px 0;
}

.interview-box .box {
  display: flex;
  height: 550px;
  gap: 10px;
}

.interview-box .box-1 {
  margin-bottom: 10px;
}

.interview-box .left,
.interview-box .right {
  width: 50%;
}

.interview-box .box-1 .left {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.interview-box .box-1 .left .title {
  font-family: "Didot LT Std Headline", serif;
  font-size: 50px;
}

.interview-box .box-1 .right {
  display: flex;
  justify-content: flex-start;
}

.interview-box .box-1 .right .img-box,
.interview-box .box-2 .img-box {
  width: 453px;
  height: 550px;
  overflow: hidden;
}

.interview-box .box-2 {
  margin-bottom: 200px;
  height: fit-content;
}

.interview-box .box-2 .left,
.interview-box .box-2 .right {
  width: 50%;
}

.interview-box .box-2 .right .text-box {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  font-weight: 600;
}

.interview-box .box-2 .right {
  display: flex;
  gap: 10px;
}

.interview-box .box-3 {
  padding: 50px 0;
  height: fit-content;
}

.interview-box .box-3 .text-box {
  width: 761px;
  padding-right: 308px;
  text-align: justify;
}

.interview-box .box-3 .text-box .about-box {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 500;
}

.interview-box .box-3 .text-box .about-box span:last-child {
  font-family: "Didot LT Std";
  font-style: italic;
  text-transform: lowercase;
}

.interview-box .box-3 .text-box .desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #4d4d4d;
}

.interview-box .box-3 .text-box .info-box {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: #b3b3b3;
  display: flex;
  gap: 10px;
}

.interview-box .box-3 .img-box {
  width: 1069px;
  height: 681px;
}

@media (max-width: 1024px) {
  .interview-box .box-1 {
    height: fit-content;
    margin-bottom: 30px;
  }

  .interview-box .box-1 .right,
  .interview-box .box-2 .right {
    display: none;
  }

  .interview-box .box-2 {
    margin-bottom: 0;
  }

  .interview-box .box-2 .left {
    width: 100%;
  }

  .interview-box .box-2 .img-box {
    width: 100%;
    height: auto;
  }

  .interview-box .box-3 .text-box {
    width: 483px;
    padding: 0;
  }

  .interview-box .box-3 .img-box {
    display: none;
  }
}

@media (max-width: 420px) {
  .interview-box .con {
    padding: 50px 0;
  }

  .interview-box .box-1 .left .title {
    font-size: 32px;
  }

  .interview-box .box-3 .text-box .about-box {
    margin-bottom: 10px;
    font-size: 22px;
  }

  .interview-box .box-3 .text-box .desc {
    font-size: 12px;
  }

  .interview-box .box-3 .text-box .info-box {
    font-size: 10px;
  }

  .interview-box .box-3 {
    padding: 50px 0 0 0;
  }
}
/* ---------- interview end ---------- */

/* ---------- living start ---------- */
.living-box {
  background-color: #fafafa;
}

.living-box .box-1 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 100px;
}

.living-box .box-1 .year-box {
  text-align: right;
  margin-bottom: 100px;
}

.living-box .box-1 .title-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.living-box .box-1 .title-box .title {
  font-family: "Didot LT Std";
  font-size: 150px;
}

.living-box .box-1 .desc-box {
  margin: 80px 0;
  display: flex;
  justify-content: flex-end;
}

.living-box .box-1 .desc-box .desc {
  width: 832px;
  display: block;
  font-size: 14px;
  line-height: 26px;
}

.living-box .box-2 {
  display: flex;
  gap: 10px;
  height: 750px;
  overflow: hidden;
}

.living-box .box-2 li {
  list-style: none;
  width: 33.33333%;
}

.living-box .box-2 li img {
  height: 100%;
  object-fit: cover;
}

@media (max-width: 1024px) {
  .living-box .box-1 {
    margin-bottom: 30px;
    font-size: 14px;
  }

  .living-box .box-1 .year-box {
    margin-bottom: 20px;
  }

  .living-box .box-1 .title-box {
    margin: 0;
  }

  .living-box .box-1 .title-box .title {
    font-size: 50px;
  }

  .living-box .box-1 .desc-box {
    display: none;
  }

  .living-box .box-2 {
    margin-bottom: 0;
    height: 412px;
  }
}

@media (max-width: 420px) {
  .living-box .box-1 {
    font-size: 10px;
  }

  .living-box .box-1 .title-box .title {
    font-size: 32px;
  }

  .living-box .box-2 {
    height: 235px;
  }

  .living-box .box-2 li:last-child {
    display: none;
  }

  .living-box .box-2 li {
    width: 50%;
  }
}
/* ---------- living end ---------- */

/* ---------- footer start ---------- */
footer {
  max-width: 1920px;
  width: 100%;
  background-color: #1a1a1a;
  color: #fff;
  padding: 0 30px;
}

footer .con {
  padding: 100px 0;
}

footer .con .title {
  font-family: "Didot LT Std";
  font-size: 50px;
}

footer .con .info-box {
  display: flex;
  gap: 10px;
  margin: 30px 0;
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
}

footer .con .info-box .devide {
  opacity: 0.5;
}

footer .con .doosan {
  color: #e6e6e6;
  font-weight: 400;
  font-size: 12px;
  opacity: 0.7;
}

@media (max-width: 1024px) {
  footer {
    padding: 0 24px;
  }

  footer .con .title {
    font-size: 40px;
  }
}

@media (max-width: 420px) {
  footer {
    padding: 0 16px;
  }

  footer .con {
    padding: 50px 0;
  }

  footer .con .title {
    font-size: 22px;
  }

  footer .con .info-box {
    flex-direction: column;
    font-size: 12px;
    gap: 20px;
  }

  footer .con .info-box .devide {
    display: none;
  }

  footer .con .doosan {
    font-size: 12px;
  }
}
/* ---------- footer end ---------- */

/* ---------- custom end ---------- */
