/* ---------- font start ---------- */
html > body {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", sans-serif;
}

/* Regular (Roman) */
@font-face {
  font-family: "Didot LT Std";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Roman.woff2")
      format("woff2"),
    url("./transfonter.org-20250825-151240/DidotLTStd-Roman.woff")
      format("woff"),
    url("./fonts/DidotLTStd-Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Bold */
@font-face {
  font-family: "Didot LT Std";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Bold.woff2")
      format("woff2"),
    url("./transfonter.org-20250825-151240/DidotLTStd-Bold.woff") format("woff"),
    url("./fonts/DidotLTStd-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Italic */
@font-face {
  font-family: "Didot LT Std";
  src: url("./fonts/DidotLTStd-Italic.woff2") format("woff2"),
    url("./fonts/DidotLTStd-Italic.woff") format("woff"),
    url("./fonts/DidotLTStd-Italic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* Headline */
@font-face {
  font-family: "Didot LT Std Headline";
  src: url("./transfonter.org-20250825-151240/DidotLTStd-Headline.woff2")
      format("woff2"),
    url("./transfonter.org-20250825-151240/DidotLTStd-Headline.woff")
      format("woff"),
    url("./fonts/DidotLTStd-Headline.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* ---------- font end ---------- */

* {
  box-sizing: border-box;
  text-transform: uppercase;
}

section {
  width: 1920px;
}

.con {
  max-width: 1840px;
  width: 100%;
  margin: 0 auto;
  padding: 150px 0;
}

img {
  display: block;
  width: 100%;
}

.title-box > .title {
  font-family: "Didot LT Std Headline", serif;
  font-size: 100px;
}

.title-box > .sub {
  font-size: 16px;
}
/* ---------- custom start ---------- */

/* ---------- header start ---------- */
header {
  width: 1920px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 16px;
  font-weight: 500;
  background-color: transparent;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

header > .con {
  padding: 0;
  display: flex;
  height: 100%;
}

header .menu-box {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

header .side-nav {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}
/* ---------- header end ---------- */

/* ---------- banner start ---------- */
.banner {
  color: #fff;
  position: relative;
}

.banner > .bg-img {
  width: 100%;
  height: 2400px;
  position: absolute;
  top: 0;
  left: 0;
}

.banner .text-box {
  position: absolute;
  z-index: 1;
  left: 40px;
}

.banner .text-box-1 {
  top: 955px;
}

.banner .text-box-2 {
  top: 1295px;
}

.banner .heads-up {
  top: 1470px;
}

.banner .text-box-3 {
  left: auto;
  right: 40px;
  top: 2005px;
}

.banner .text-box-4 {
  left: 851px;
  top: 1450px;
}

.banner .text-box-5 {
  top: 1754px;
  left: auto;
  right: 40px;
}
/* ---------- banner end ---------- */

/* ---------- fashion-trends start ---------- */
.fashion-trends-box .main-box {
  margin-top: 150px;
  display: flex;
  gap: 10px;
}

.fashion-trends-box .main-box .left,
.fashion-trends-box .main-box .right {
  width: 50%;
}

.fashion-trends-box .main-box .desc-box {
  padding-right: 100px;
  height: 547px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.fashion-trends-box .main-box .desc-box > .desc {
  width: 217px;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.fashion-trends-box .main-box .year-box {
  height: 72px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

.fashion-trends-box .main-box .year-box > .year {
  font-size: 16px;
  font-weight: 400;
}
/* ---------- fashion-trends end ---------- */

/* ---------- today-item start ---------- */
.today-item-box > .con {
  padding: 200px 40px 100px 40px;
}

.today-item-box .title-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.today-item-box .title-box .sub {
  margin-bottom: 45px;
}

.today-item-box .main-box {
  display: flex;
  gap: 10px;
  height: 618px;
  overflow: hidden;
}

.today-item-box .main-box .left {
  width: 610px;
}

.today-item-box .main-box .right {
  flex: 1;
}
/* ---------- today-item end ---------- */

/* ---------- marquee start ---------- */
.marquee-box {
  height: 500px;
  background-color: #000;
  color: #fff;
  padding-top: 80px;
}

.marquee-box .marquee-text {
  font-size: 350px;
  font-family: "Didot LT Std";
  font-weight: bold;
  white-space: nowrap;
}
/* ---------- marquee end ---------- */

/* ---------- fashion-img start ---------- */
.fashion-img-box {
  background-color: #000;
}

.fashion-img-box .con {
  padding: 0;
}
/* ---------- fashion-img end ---------- */

/* ---------- fashion-slides start ---------- */
.fashion-slides-box {
  background-color: #000;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.fashion-slides-box .con {
  max-width: none;
}

.fashion-slides-box .title-box {
  margin-bottom: 100px;
  text-align: center;
}
.fashion-slides-box .title-box .title {
  font-size: 24px;
  font-family: "Pretendard Variable";
}

.fashion-slides-box .swiper {
  width: 916px;
  height: 100%;
  overflow: visible;
}

.fashion-slides-box .swiper-slide {
  width: 916px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  transition: transform 0.35s ease, opacity 0.35s ease;
}

.fashion-slides-box .swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  aspect-ratio: 916 / 570;
  object-fit: cover;
}

.fashion-slides-box .swiper-slide-prev,
.fashion-slides-box .swiper-slide-next {
  transform: scale(0.9);
  opacity: 0.4;
}

.fashion-slides-box .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 2;
}

.fashion-slides-box .swiper-button-next,
.fashion-slides-box .swiper-button-prev {
  color: #dfdfdf;
  width: 5px;
  height: 5px;
  position: absolute;
  top: 50%;
}
.fashion-slides-box .swiper-button-next::after,
.fashion-slides-box .swiper-button-prev::after {
  font-size: 24px;
}

.fashion-slides-box .swiper-button-next {
  right: -13%;
}
.fashion-slides-box .swiper-button-prev {
  left: -13%;
}

/* ---------- fashion-slides end ---------- */

/* ---------- custom end ---------- */
